.profile__edit-button {
  max-width: 24px;
  cursor: pointer;
  margin-top: 10px;
}

.profile__edit-button:hover {
  opacity: .6;
  transition: opacity .3s ease;
}

@media screen and (max-width: 950px) {
  .profile__edit-button {
    max-width: 18px;
    margin: 19px 18px 0 0;
  }
}
