.header__logo {
  max-width: 142px;
  margin-bottom: 41px;
}

@media screen and (max-width: 950px) {
  .header__logo {
    margin: 0 27px 30px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 103.74px;
  }
}
