.header {
  max-width: 880px;
  padding-top: 45px;
  margin: 0 auto;
  background: url(../../images/Line.svg) no-repeat bottom;
}

@media screen and (max-width: 950px) {
  .header {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 650px) {
  .header {
    padding-top: 28px;
  }
}
