.popup__close-button {
  max-width: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .popup__close-button {
    max-width: 20px;
    right: 0;
  }
}

.popup__close-button:hover {
  opacity: .6;
  transition: opacity .3s ease;
}
